@page
@model BL.Presentation.Areas.Admin.Pages.ArticleManagement.EditModel
@{
}



<form method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input  class="form-control"  asp-for="Article.Name">

        <label class="form-label">Image</label>
        <input  class="form-control" asp-for="Article.Image" >

        <label class="form-label">ShortDescribtion</label>
        <textarea  class="form-control" asp-for="Article.ShortDescribtion" rows="3" ></textarea>
        
        <label class="form-label">Content</label>
        <textarea  class="form-control"  asp-for="Article.Content" rows="6" ></textarea>

        <label class="form-label">ArticlCategory</label>
       <select class="form-control" asp-items="@Model.Categories"  asp-for="Article.ArticleCategoryId" >
           <option value="0">Select Category</option>
       </select>
        <input type="hidden" asp-for="Article.Id" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    

</form>

<a asp-area="Admin" asp-page="./Index" class="btn btn-dark">Back</a>
