@page
@model BL.Presentation.Areas.Admin.Pages.ListCategoryManagement.AddModel
@{
}




<form method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input  class="form-control" name="Title" id="Title">
        <div class="form-text">Please Enter Title</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    

</form>

<a asp-area="Admin" asp-page="./Index" class="btn btn-dark">Back</a>


